* { margin: 0; padding: 0; }

.wrap {
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    border: 1px solid black;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

header #gnbLogo {
    width: 240px;
    height: 90px;
<<<<<<< HEAD
    background: url(../img/logo.png) no-repeat left center;
=======
    background: url(../img/Logo.jpg) no-repeat left center;
>>>>>>> 5c98dce34be29b1fb6671849b61e12b24ef1855b
    background-size: auto 90px;
    text-indent: -9999px;
}

header #gnbLogo a {
    display: block;
    height: 100%;
}

<<<<<<< HEAD
nav ul.gnb { list-style-type:  none; height: 90px; }
=======
nav ul.gnb { list-style-type: none; height: 90px; }
>>>>>>> 5c98dce34be29b1fb6671849b61e12b24ef1855b
nav ul.gnb li {
    display: inline-block;
    height: 90px;
    padding: 30px;
    box-sizing: border-box;
    font-size: 1.6rem;
}

header a {
    text-decoration: none;
    color: black;
    font-family: 'Do Hyeon', sans-serif;
}

nav ul.gnb li a:hover {
    color: cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
    padding-bottom: 8px;
    transition: color 0.5s;
}

.category { height: 90px; padding: 35px; box-sizing: border-box; }
<<<<<<< HEAD

.btn { padding: 10px 40px;  background-color: cornflowerblue; color: white; }
=======
.btn { padding: 10px 40px; background-color: cornflowerblue; color: white;}
>>>>>>> 5c98dce34be29b1fb6671849b61e12b24ef1855b
