* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#modal1 {
<<<<<<< HEAD
    /* 여기에 작성해보세요:) */
}

#modal2 {
    /* 여기에 작성해보세요:) */
=======
    position: absolute;
    top: 176px;
    left: 60px;
    border: 1px solid black;
}

#modal2 {
    position: absolute;
    top: 176px;
    left: 480px;
    border: 1px solid black;
>>>>>>> 5c98dce34be29b1fb6671849b61e12b24ef1855b
}

.modal-content {
    width: 400px;
    height: 500px;
}

.modal-footer {
    position: relative;
    padding: 0 3px 4px;     /* top [left,right] bottom */
    color: #fff;
    background-color: #070a13;
}

.modal-footer a {
    color: #fff;
    float: right;
}

.modal-footer::after {
    display: block;
    content: '';
    clear: both;
}