<<<<<<< HEAD
* { margin: 0; padding: 0; }
=======
* {margin: 0; padding: 0;}
>>>>>>> 5c98dce34be29b1fb6671849b61e12b24ef1855b

.container {
    width: 100vw;
    height: 100vh;
    animation: bg 8s infinite;
}

@keyframes bg {
<<<<<<< HEAD
    0% { background-color: #27296d; }
    25% { background-color: #f5c7f7;}
    50% { background-color: #5e63b6;}
    75% { background-color: #a393eb;}
    100% { background-color: #27296d;}
=======
    0% {background-color: #27296d;}
    25% {background-color: #f5c7f7;}
    50% {background-color:#5e63b6;}
    75% {background-color:#a393eb;}
    100% {background-color:#27296d;}
>>>>>>> 5c98dce34be29b1fb6671849b61e12b24ef1855b
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 60px;
}